.item {
    height: 6.5em;
    padding: .5em 0!important;
    display: block;
}
.item > .content {
    position: relative;
    height: 100%;
    background: center 25% no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .5);
}

.item > .content > .text {
    z-index: 1;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: .5rem 1rem;
    text-shadow: 1px 1px 1px #000;
}

.item > .content > .text > h1 {
    color: #f9f9f9;
    font-weight: 700;
    font-size: .8rem;
    margin: 0;
}

.item > .content > .text > p {
    display: inline-block;
    font-size: .6rem;
    letter-spacing: .6px;
    text-transform: uppercase;
    color: rgba(249, 249, 249, .75);
    margin-bottom: .5rem;
}


.item > .content > .text > p > b {
    margin-left: .2rem;
    color: var(--white-color);
}

.item > .content > .text > h1 > .limit {
    font-size: .8rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.item > .content > .overlay {
    transition: background-color .25s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}