.anime {
    overflow: hidden;
}

.anime > .cover {
    position: relative;
    margin-bottom: 0.5em;
}

.anime > .cover > .score {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0.75em;
    left: 0.3875em;
    font-weight: 700;
    font-size: 0.7rem;
    background-color: rgba(0, 0, 0, 0.5);
    min-width: 5em;
    text-align: center;
    border-radius: 5em;
    line-height: 1.4285em;
    padding: 0.2rem;
}

.anime > .cover > .score > span {
    display: flex;
    margin-right: 0.2rem;
}

.anime > .cover > .score > span > svg {
    fill: #eabe3f;
    width: 0.8rem;
}

.anime > .cover > .score > b {
    margin-left: 3px;
    color: #eabe3f;
}

.anime > .cover > a > .image {
    position: relative;
    overflow: hidden;
    line-height: 0;
    width: 100%;
    padding-bottom: 140%;
}

.anime > .cover > a > .image > img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.anime > .cover > a > .image div:first-child {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.anime > .info > h3 {
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 5px;
}

.anime > .info > h3 > a > span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    position: relative;
    float: left;
    font-size: 0.8rem;
}

.anime > .info > .year {
    font-size: 0.6rem;
    color: #b9b9b9;
}

.anime > .cover > a > .image > .numCountLat {
    position: absolute;
    bottom: 1rem;
    left: 0;
    padding: 0.9rem;
    padding-left: 0.5rem;
    background: #171717;
    border-radius: 0 0.6rem 0.6rem 0;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}
