.container {
    display: none;
    box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, .25);
}

.container .menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .menu .item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.container .menu .item svg {
    width: 1.5rem;
    fill: var(--gray-color);
}

@media only screen and (max-width: 768px){
    .container {
        z-index: 1;
        display: flex;
        width: 100%;
        position: fixed;
        bottom: 0;
        background: var(--tertiary-color);
    }
}