.container {
    min-height: 100vh;
    padding: 2.5rem 1rem;
    margin: 0 auto;
    max-width: 1200px;
}

.container h2 {
    margin: 1rem 0;
    text-align: center;
    text-transform: uppercase;
}

.container .navCaps {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem 0;
}

.container .navCaps .column {
    display: flex;
    padding: 0 1rem;
    width: 100%;
}

.container .navCaps .column .info {
    display: flex;
    flex-direction: row;
}

.container .navCaps .column .info a {
    line-height: 0;
}

.container .navCaps .column .info a > div:first-child {
    width: 50px;
    padding-bottom: 40%;
    border-radius: .2rem;
    border: 1px solid #101010;
}

.container .navCaps .column .info .details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 0 1em;
}

.container .navCaps .column .info .details .info {
    flex-direction: column;
}

.container .navCaps .column .info .details .info h1 {
    margin: 0!important;
    font-size: 1.15rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
}

.container .navCaps .column .info .details .info .currentEp {
    margin: .3em 0;
    font-weight: bold;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #b9b9b9;
}

.container .navCaps .column .actions {
    display: flex;
    margin-left: auto;
}

.container .navCaps .column .actions .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #b9b9b9;
    min-width: 0;
    padding: .75em 1.25em;
}

.container .navCaps .column .actions .button svg {
    margin-right: 0;
    fill: #b9b9b9;
    width: 1.5em;
    height: 1.5em;
}

.container .videoPlayer {
    margin: 2rem 0;
}

.container .videoPlayer .msg {
    padding: .5rem 1rem;
    margin: 1rem 0;
    border-left: 2px solid var(--primary-color);
    text-transform: uppercase;
}

.container .videoPlayer .options {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
}

.container .videoPlayer .options .type {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

.container .videoPlayer .options .type label {
    text-transform: uppercase;
    font-size: .8rem;
    color: #b9b9b9;
    margin-right: 10px;
}

.container .videoPlayer .options .type select {
    background: var(--tertiary-color);
    color: var(--gray-color);
    border: 0;
    padding: .7rem .5rem;
    min-width: 165px;
    font-size: .8rem;
    font-weight: bold;
    text-transform: uppercase;
}

.container .videoPlayer .video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    border-radius: .2rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .25);
    background: #101010;
}

.container .videoPlayer .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

@media (max-width: 600px) {
    .container .navCaps .column {
        flex-direction: column;
    }
    .container .navCaps .column .actions {
        margin-left: 0;
        justify-content: space-between;
        margin: 1rem 0;
    }
    .container .videoPlayer .options {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 1rem;
    }
    .container .videoPlayer .options .type {
        margin: 0;
    }
    .container .videoPlayer .options .type select {
        min-width: 0;
        width: 100%;
    }
}


@media (max-width: 425px) {
    .container .videoPlayer .video {
        padding-bottom: 80%;
    }
    .container .navCaps .column .actions .button {
        font-size: .8rem;
    }
    .container .videoPlayer .options .type select {
        font-size: .7rem;
        padding: .5rem 0.3rem;
    }
}