.container {
    overflow: hidden;
}

.imageContainer {
    position: relative;
    padding-bottom: 56.5%;
    display: block;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: -webkit-linear-gradient(
        top,
        rgba(0, 0, 0, 0.5) 0,
        rgba(0, 0, 0, 0.05) 50%,
        rgba(0, 0, 0, 0.05) 50%,
        rgba(0, 0, 0, 0.5) 100%
    );
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5) 0,
        rgba(0, 0, 0, 0.05) 50%,
        rgba(0, 0, 0, 0.05) 50%,
        rgba(0, 0, 0, 0.5) 100%
    );
}

.imageContainer img {
    width: 100%;
    position: absolute;
}

.infoContainer {
    padding: 10px 0;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.titleEpisodeAnime {
    flex: 1 1;
    font-size: 0.8rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 700;
}

.numberEpisodeAnime {
    white-space: nowrap;
    align-items: end;
    font-size: 0.6rem;
}

.coversContainer {
    position: relative;
    display: block;
}

.coverAnimeContainer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 53px;
    aspect-ratio: 9/13;
    overflow: hidden;
    border-width: 2px 0 0 2px;
    border-color: black;
    border-style: solid;
}

.coverAnimeContainer img {
    width: 100%;
    height: 100%;
    position: absolute;
}
