.box  {
    padding: 2rem 0;
    padding-bottom: 4rem;
}

.box h1 {
    border: 0;
    margin: calc(2rem - .14285em) 0 1rem;
    padding: .25em 0;
    font-weight: 700;
    line-height: 1.2857em;
    font-size: 1rem;
    text-transform: uppercase;
}

.box h1 > .border {
    padding-bottom: .3em;
    border-bottom: solid 1px #e50914;
}

.box .listAnimes {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}

.box .message {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
}

@media (max-width: 1024px) {
    .box .listAnimes {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (max-width: 768px) {
    .box .listAnimes {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 425px) {
    .box .listAnimes {
        grid-template-columns: repeat(2, 1fr);
    }
}