.modal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.message {
    padding: 2rem;
    padding-bottom: 0;
    border-radius: .6rem;
    background-color: #101010;
    text-align: center;
    max-width: 80%;
}
.app{
    padding-bottom: 2rem;
}
.app a:hover{
    color: inherit
}
.message h2 {
    margin-bottom: 1rem;
    font-weight: bold;
}
.message .contentMessage {
    display: flex;
    align-items: center;
}

.message .contentMessage .info{
    overflow: hidden;
}

.message .contentMessage .info p {
    margin-bottom: 1.6rem;
    font-size: 1.2rem;
}

.message .contentMessage .info .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-top: 1rem;
}

.message .contentMessage .info .buttons .button {
    padding: .5rem .4rem;
    border-radius: .2rem;
    margin: .2rem;
    font-size: .8rem;
    min-width: 33%;
}

.success {
    background-color: rgb(17, 126, 17);
}

.infob {
    background-color: rgb(15, 134, 150);
}

.danger {
    background-color: rgb(185, 41, 16);
}

@media (min-width: 1024px) {
    .message {
        max-width: 750px;
    }
}

@media (max-width: 767px) {
    .message img {
        display: none;
    }
    .message .contentMessage .info p {
        font-size: .9rem;
    }
}
